* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.parent-container {
  height: 1000px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.child-container {
  display: flex;
  flex: 1;
  border: 1px solid blue;
}

.child {
  flex: 1;
  border: 1px solid green;
}

.hovered {
  background-color: #43c5f5;
}

.buttons-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

button {
  width: 200px;
  padding: 12px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #063f5c;
  background-color: #43c5f5;
  border-radius: 8px;
  border: none;
}